BASE_URL=https://kartapro.lsx.li
APP_DOMAIN=kartapro.lsx.li
TRAEFIK_NETWORK=dokploy-network
TRAEFIK_ENTRYPOINT=websecure
TRAEFIK_CERT_RESOLVER=letsencrypt
HEADLESS=true
TIMEOUT=30000
MAX_RESULTS=200
SCRAPER_CONCURRENCY=2
NEXT_PUBLIC_BASE_URL=http://127.0.0.1:8090
SCRAPER_DETAIL_CONCURRENCY=3
